body{
    background: blueviolet;
}
.a,.b,.c,.d,.e,.f{
    border: 2px solid red;
}
.h200{
    height: 200px;
}
.w200{
    width: 200px;
}
.h400{
    height: 400px;
}
.box{
    width: 800px;
    height: 600px;
}
.b{
    width: 600px;
}
.df{
    display: flex;
}
.content-l{
    flex-wrap: wrap;
}
